.slide-img {
    position: absolute !important;
    right: -45px !important;
    z-index: 2 !important;
    bottom: 6% !important;
}
.banner-main {
    position: relative !important;
}
.slider-img img {
    width: 100% !important;
}
.slider-short-heading {
    position: absolute !important;
    bottom: 0px !important;
    left: 10% !important;
    text-align: center !important;
    opacity: 20% !important;
}
.slider-banner {
    gap: 0px !important;
}
.banner-content{
    min-height: 575px !important;
}
.short-heading {
    display: inline-block !important;
}
.counter-box h3, .is-head-menu li a:hover span {
    background: linear-gradient(90deg, #57E2D0 0%, #F3BB57 51.5%, #FF0180 100%) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    display: inline-block !important;
}
.counter-box {
    text-align: center !important;
}
